body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#BAE851;
    text-align: center;
}
.assign{
    border-radius: 20px
    background-color: #E6B840;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img{
    width: 400px;
    padding: 10px;
    border: 2px solid black
}

a{
    text-decoration: none;
    color: #E5DF00;
}

a:hover{
 text-decoration: none;
 color: salmon;
}
