body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:black;
    text-align: center;
}
.assign{
    border-radius: 20px
    background-color: #6CEBD9;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img{
    width: 400px;
    padding: 10px;
    border: 2px solid black
}

a{
    test-decoration: none;
    color: #68A9E8;
}

a:hover {
 text-decoration: none;
 color: salmon;
}
