body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1{
    color:#BAE851;
    text-align: center;
    width: 100%;
    display: block;

}
.assign{
    width: 20%;
    box-shadow: 8px 8px brown;
    display: block;
    border-radius: 20px;
    background-color: #E6B840;
    margin: 10px;
    padding: 10px;
}
.assign img{
    width: 100%;
    padding: 5px;
    border: 2px solid black
}

a{
    text-decoration: none;
    color: #E5DF00;
}

a:hover{
 text-decoration: none;
 color: salmon;
}
